[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[user]
	name = matanweisz
	email = matan.weisz@infinity.co.il
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
